
* {
	margin: 0;
	padding: 0;
	outline: none;
}

::-webkit-scrollbar {
	width: 4px;
	height: 8px;
}

::-webkit-scrollbar,::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.1);
}

body {
	text-align: center;
	font-family: Microsoft Yahei;
}

.header {
	top: 0;
	height: 40px;
	background-color: #2b2d35;
}

.header,.main {
	position: absolute;
	right: 0;
	left: 0;
}

.main {
	top: 40px;
	bottom: 50px;
	overflow-y: auto;
	background-color: #fff;
	text-align: center;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: #2b2d35;
}

.button {
	float: left;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.button:after {
	display: block;
	margin-top: 20px;
	margin-left: 10px;
	width: 20px;
	height: 2px;
	background-color: #50535F;
	box-shadow: 0 7px 0 #50535F,0 -7px 0 #50535F;
	content: "";
}

button {
	margin: 15px;
	padding: 15px 30px;
	width: 80%;
	max-width: 300px;
	border: none;
	background-color: #2b2d35;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}

p {
	padding: 40px;
}