
* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0.2rem;
	height: 0.4rem;
}

::-webkit-scrollbar,::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.1);
}

body {
	text-align: center;
	font-family: Microsoft Yahei;
}

.header {
	top: 0;
	height: 2rem;
	background-color: #03a9f4;
}

.header,.main {
	position: absolute;
	right: 0;
	left: 0;
}

.main {
	top: 2rem;
	bottom: 2.5rem;
	overflow-y: auto;
	background-color: #fff;
	text-align: center;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: 2.5rem;
	background-color: #03a9f4;
}

.button {
	float: left;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.button:after {
	display: block;
	margin-top: 1rem;
	margin-left: 0.5rem;
	width: 1rem;
	height: 0.1rem;
	background-color: #0385f4;
	box-shadow: 0 0.35rem 0 #0385f4,0 -0.35rem 0 #0385f4;
	content: "";
}

button {
	margin: 0.75rem;
	padding: 0.75rem 1.5rem;
	width: 80%;
	max-width: 15rem;
	border: 1px solid #0e90d2;
	background-color: #0e90d2;
	color: #fff;
	font-size: 1.125rem;
	cursor: pointer;
}

p {
	padding: 2rem;
}